@{
    Layout = null;
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>PizzaShop</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>

@model DAL.ViewModels.ResetPasswordFirstTimeViewModel;


<div class="sma container-fluid row bg-color main-container position-absolute h-100">

    <!-- left container -->
    <div class="d-none d-md-block col-sm-12 col-md-6 img-container">
        <img class="img-fluid object-fit-cover h-100" src="~/images/dominos_background.jpg" alt="">
    </div>

    <!-- right container -->
    <div class="h-100 col-sm-12 col-md-6 right-part d-flex flex-column align-items-center justify-content-center">

        <!-- logo and heading -->
        <div
            class="container-fluid d-flex gap-md-1 gap-lg-2 gap-xl-4 align-items-center justify-content-center heading-container">
            <img class="logo-img" src="~/images/logos/pizzashop_logo.png" alt="">
            <h1 class="right-heading">PIZZASHOP</h1>
        </div>

        <!-- welcome message -->
        <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
            <p class="welcome-message align-self-center align-self-md-start mb-3 mt-3 margin-left">Reset Your Password to continue
            </p>

            <!-- form -->
            <form action="" name="login-form" id="reset-password-first-time-form"
                class=" form-container d-flex flex-column align-items-center justify-content-center gap-3">
                <div class="input-group d-flex flex-column">
                    <input type="password" id="password" asp-for="@Model.NewPassword" name="password"
                        placeholder="New Password*" class="form-control p-2 w-100">
                    <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                    <img id="show-password" class="small-image image-in-input" onclick="showAndHidePassword(true)"
                        src="~/images/icons/show-password.svg" alt="">
                    <img id="hide-password" class="small-image image-in-input d-none"
                        onclick="showAndHidePassword(false)" src="~/images/icons/hide-password.svg" alt="">
                    <p id="password-error" class="error-message small"></p>
                </div>
                <div class="input-group d-flex flex-column">
                    <input asp-for="@Model.ConfirmPassword" type="password" id="confirm-password"
                        name="confirm-password" placeholder="Confirm New Password*" class="form-control p-2 w-100">
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                    <img id="show-confirm-password" class="small-image image-in-input"
                        onclick="showAndHideConfirmPassword(true)" src="~/images/icons/show-password.svg" alt="">
                    <img id="hide-confirm-password" class="small-image image-in-input d-none"
                        onclick="showAndHideConfirmPassword(false)" src="~/images/icons/hide-password.svg" alt="">
                    <p id="confirm-password-error" class="error-message small ">.</p>

                </div>
                <button type="submit" class="btn w-100 btn-primary">Submit</button>
                <a asp-controller="Home" class="text-decoration-none link-primary">Back to Login</a>
            </form>
        </div>
    </div>

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/resetPassword.js" asp-append-version="true"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}